@import '@/sass/mixins.scss';

.view {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    padding: 0 20px 50px;

    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid #fff;
}
.view__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.view__box {
    @include panel_box;
    padding: 15px;

    button {
        @include panel_box;
        font-size: 14px;
        line-height: 24px;
        padding: 5px;
        margin-top: 10px;
    }
}

@mixin key_value {
    & {
        > p {
            > p {
                font-weight: 600;
                display: inline;
            }
        }
    }
}

.view__setting {
    @include key_value;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    margin-bottom: 200px;
    > button {
        @include panel__input;
        padding: 15px;
    }
}

.view__param {
    @include key_value;
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 300px;
    > div {
        @include panel_box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    > button {
        @include panel__input;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
}

div.view__param_keybox {
    @include panel_box;
    padding: 20px;
    color: #fff;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5px;
    > p {
        position: initial;
    }
}

.view__param_arrayBox {
    @include panel_box;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px;
}
.view__createBox {
    padding: 10px;
    box-shadow: 0 0 4px #777;
    border-radius: inherit;
    > div {
        @include panel_box;
        // padding: 10px;
        // width: 100%;
    }
    > button {
        @include panel__input;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
}

.view__pageInfo {
    @include panel_box;
    display: flex;
    flex-direction: column;
    > p {
        width: max-content;
        > p {
            font-weight: 600;
            display: inline;
        }
    }
    padding: 30px;
    margin-bottom: 30px;
}

.view__params {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.view__arrayElement {
    margin-top: 20px;
    align-self: center;
    background: #f1f1f1;
    border-radius: inherit;
    padding: 5px;
}
.view__arrayMoveBox {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    > button {
        font-size: 20px;
        font-weight: 800;
        flex-grow: 1;
        background: #fff;
        border-radius: 15px;
    }
}
