.ImagePreviewComponent {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
}

.ImagePreviewComponent__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;

  > img {
    max-width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  p > {
    font-size: 22px;
    font-weight: 500;
    color: #000;
  }
}

.ImagePreviewComponent__title {
  font: 400 22px;
}

.ImagePreviewComponent__button {
  width: 100%;
  padding: 20px;
  background-color: #999;
}

.ImagePreviewComponent__button_apply {
  color: #fff;
  background-color: #484848;
}

.ImagePreviewComponent__button_cancel {
  background-color: #fff;
  box-shadow: 0 1px 4px #3333;
}
