@mixin panel-input {
    border-radius: 10px;
    box-shadow: 0 0 2px #000;
}

@mixin panel-box {
    border-radius: 10px;
    box-shadow: 0 2px 7px #0005;
}

@mixin panel-button-black {
    color: #fff;
    background-color: #000;
}

@mixin panel-file-input {
    @include panel-button-black;
}
