@import '@/sass/mixins';

.Login {
    display: flex;
    min-height: 100vh;
}

.Login__box {
    @include panel-box;

    display: flex;
    flex-direction: column;
    width: max-content;
    width: 100%;
    max-width: 430px;
    padding: 14px 26px;
    margin: auto;

    > h2 {
        padding: 20px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    > img {
        width: 50px;
        height: 50px;
        margin: auto;
        background-size: contain;
    }
}

.Login__inputBox {
    @include panel-input;

    padding: 10px;
    margin-top: 20px;

    > input {
        width: 100%;
    }

    > p {
        color: #666;
    }
}

.Login__buttonSigin {
    @include panel-input;

    padding: 17px 0;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #000;
}

.Login__error {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f00;
    opacity: 0;
}
