@import '@/sass/mixins';
@import '@/sass/variables';

/* Users.tsx */

.userCreateBox {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  padding: 40px 20px;
  margin: auto;

  > input {
    @include panel-box;

    min-width: 300px;
  }
}

.userButton {
  @include panel-input;
  @include panel-button-black;

  padding: 17px 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.userInputBox {
  @include panel-box;

  padding: 10px;
  margin-top: 20px;

  > input {
    width: 100%;
  }

  > p {
    color: #666;
  }
}

.userSelectBox {
  @include panel-input;

  padding: 10px;
  margin-top: 20px;

  > p {
    color: #666;
  }
}

.userError {
  margin-top: 20px;
  color: #f00;
  text-align: center;
}
